.my-ck-button_with-text {
  background-color:rebeccapurple !important;
  color: white !important;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

::view-transition-group(root) {
    animation-duration: 1s;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
    font-family: var(--font-family-text);
    font-size: var(--step-0);
    line-height: 1.5;
    /* font-synthesis: none; */
    animation: 3s infinite flip-synthesis;   
}

@keyframes flip-synthesis {
    0% { font-synthesis: none; }
    100% { font-synthesis: initial; }
}

blockquote,
body,
figure,
h1,
h2,
h3,
h4,
p,
menu,
form,
[popover] {
  margin: 0;
}


[role="list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* SKIP TO MAIN CONTENT ON ALL PAGES */

.skip-link:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
main:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  /* display: block; */
  object-fit: cover;
  border-radius: var(--img-border-radius,1em);
}

img:not([alt]) {
	border: dashed 10px red;
    border-radius: 0;
}

main, section {
  padding-inline: 1rem;
  /* container-type: inline-size; */
  max-width: var(--max-width);
  margin-inline: auto;
}

main + section {
    margin-block-start: 1em;
}

/* NORMALIZE IMAGE INLINE STYLES AND CLASSES THAT ARE INCLUDED BY CKEDITOR */

/* BACKGROUND COLORS */

body>header {
  background-color: var(--header-background-color);
}

body>main {
  background-color: var(--main-background-color);
}

body>header u {
    text-decoration-thickness: 0.5ex;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.8ex;
}


/* FOOTER STYLES */

body>footer {
  margin-block-start: 1rem;
  font-size: var(--step--1);
  background-color: var(--footer-background-color);
  padding: 1em;
}

body>footer>a {
  color: inherit;
  text-decoration: none;
}


/* NAVIGATION STYLES */

.topnav {
  --flex-vertical-alignment: flex-start;
  --flex-wrap: nowrap;
  --flex-gap: 1rem;
  padding-block-start: 0.5rem;
  padding-inline: 0.5rem;
}

.logo {
  inline-size: var(--logo-inline-size);
  block-size: auto;
  align-self: flex-start;
  img {
    border-radius: 0;
  }
}

nav {
  font-family: var(--font-family-ui);
  
}

nav a {
  --text-color: var(--nav-dark-color);
  border-block-end: 0.2ex solid var(--border-color, transparent);
  color: var(--text-color);
  display: inline-block;
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
  padding: 0.1rem;
  text-decoration: none;
  font-size: var(--step--2);
}

nav a:where(:hover, :focus) {
  --border-color: var(--text-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-inline-size: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

[aria-current="page"] {
  --border-color: var(--nav-highlight-color);
  --text-color: var(--nav-highlight-color);
}

@media (width<=600px) {
  nav ul {
    display:none;
  }
}

/* 
** FONT SIZES
*/
.text-tiny:not(.ck-button) {
  font-size: var(--step--2);
}
.text-small:not(.ck-button) {
  font-size: var(--step--1);
}
.text-big:not(.ck-button) {
  font-size: var(--step-3);
}
.text-huge:not(.ck-button) {
  font-size: var(--step-6);
}

/* ALIGNMENT */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

h1 {
  font-size: var(--step-4);
  overflow-wrap: break-word;
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}
p {
  font-size: var(--step-0);
  text-wrap: pretty;
}
small {
  font-size:var(--step--2);
}

:where(h1,h2,h3,h4) {
  text-wrap: pretty;
  font-family: var(--font-family-headings);
}

/* LINK STYLES */
main a {
  text-decoration: underline;
  color: var(--color-primary-light);
}

main a:visited {
    color: rebeccapurple;
}

main a:hover {
    color: var(--color-primary);
}

.no-padding {
  --padding: 0;
}

/* CARD STYLES */
.card {
  --card-radius: 0.5em;
  container-type: inline-size;
  background: rebeccapurple;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  border: solid 2px #fff;
  border-radius: var(--card-radius);
  padding: 0.5em;
}
.card:focus-within,
.card:hover {
  box-shadow: 4px 8px 8px hsl(0deg 0% 0%/0.38);
}
.card a:hover {
  color:currentColor;
}
.icon {
  pointer-events: none;
}
.card .icon {
  margin-inline: auto;
  inline-size: 25%;
  fill: #fff;
}

.card img {
  block-size: 16rem;
  border-radius: var(--card-radius);
}
.card p {
  hyphens: manual;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card h2 {
  transition: all 0.2s ease-in-out;
}
.card:hover h2 {
  transform: scale(1.05);
  text-decoration: underline;
}
.card a {
    text-decoration: none;
    color: inherit;
}
.card a:visited {
    color: inherit;
}

.card>*:last-child {
  display: flex;
  justify-content: space-between;
  margin-block-start: auto;
}


/* SIMPLE GRID  - DEFAULT IS 2 EQUAL-SIZED COLUMNS WITH NO GAP */

.grid {
  container-type: inline-size;
  max-width: var(--max-width);
  margin-inline: auto;
  --grid-gap: var(--space-s);
  display: grid;
  grid-template-columns: var(--grid-template-columns, 1fr 1fr);
  outline: var(--grid-border);
  text-align: var(--text-align, center);
  gap: var(--grid-gap);
}

.grid__auto_fill {
    --grid-template-columns: repeat(auto-fill,
    minmax(min(var(--grid-min-item-size, 18rem), 100%), 1fr)
  );
}

.grid__auto_fit {
    --grid-template-columns: repeat(auto-fit,
    minmax(min(var(--grid-min-item-size, 18rem), 100%), 1fr)
  );
}

.grid > * {
  padding: var(--grid-padding, 0.2em 0.5em);
  border-inline-start: var(--grid-border);
  border-block-end: var(--grid-border);
}

/* MORE UtILITES - NEED TO STRUCTURE THIS */
.round-border {
  border-radius: 50%;
}
.icon-with-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.icon-with-text > svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* VISUALLY-HIDDEN CAN'T BE SEEN EXCEPT TO ASSISTIVE TECHNOLOGY */

.visually-hidden {
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  white-space: nowrap;
}

form {
  --border: solid 1px var(--color-primary);
  font-family: var(--font-family-ui);
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: 0.5em;
  padding-block: 0;
}
form label {
  display: block;
  font-weight: 550;
}
form input[type="text"], form input[type="email"] {
  inline-size: 100%;
  font: inherit;
  line-height: 2;
  /* field-sizing: content; */
}

form input+div {
    block-size: 2lh;
}

textarea {
  resize: none;
  field-sizing: content;
  line-height: 1.5;
  padding: 0.25em 0.5em;
  font: inherit;
}

fieldset {
    font: inherit;
    border-radius:0.5em;
    &:has([type=checkbox]) {
        display: grid;
        grid-template-columns: 1.5em auto;
        gap: 0.5em;
    }
    &>legend {
        font-weight: 550;
    }
    &>p {
        grid-column: 1 / span 2;
    }
}

/* FLEX ITEMS */
.flex-items {
  display: flex;
  flex-direction: var(--flex-direction, row);
  flex-wrap: var(--flex-wrap, wrap);
  gap: var(--flex-gap, var(--gutter, var(--space-m)));
  justify-content: var(--flex-horizontal-alignment, flex-start);
  align-items: var(--flex-vertical-alignment, center);
}

.center {
  --flex-horizontal-alignment: center;
}
.space-apart {
  --flex-horizontal-alignment: space-apart;
}
.space-between {
  --flex-horizontal-alignment: space-between;
}
.space-around {
  --flex-horizontal-alignment: space-around;
}
.justify-end {
  --flex-horizontal-alignment: flex-end;
}
.no-gap {
  --flex-gap: 0;
}
.no-wrap {
    flex-wrap: nowrap;
}

[data-variant-flex="column"] {
  --flex-direction: column;
  --flex-vertical-alignment: flex-start;
}

/* BUTTON STYLES */

.button {

  /* Configuration */
  --button-display: inline-flex;
  --button-padding: 0.7em 1.2em;
  --button-gap: 0.5em;
  --button-bg: #342a21;
  --button-color: #ffffff;
  --button-hover-bg: #4b4b4a;
  --button-hover-color: #ffffff;
  --button-border-width: 3px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0.5em;
  min-height: 44px;

  /* Layout and spacing */
  display: var(--button-display);
  align-items: center;
  gap: var(--button-gap);
  padding: var(--button-padding);
  text-align: center;

  /* Colours */
  background: var(--button-bg);
  color: var(--button-color);

  /* Stroke and radius */
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  /* Typography */
  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1em);
  letter-spacing: 0.05ch;
  font-family: var(--font-family-ui);
  line-height: 1.1;

  /* Interactive */
  cursor: pointer;
}

.button svg {
  height: var(--button-icon-size, 1.2cap);
  width: auto;   
  flex: none;
  aspect-ratio: 1;
}

.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
  fill: var(--button-hover-color);
}

.button:not(.no-focus):focus-visible {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(
    --button-outline-offset,
    calc(var(--button-border-width) * 2)
  );
}

.button:active {
  transform: scale(99%);
}

.button[data-button-variant="nav-item"] {
    --button-padding: 0;
    --button-color: white;
    --button-bg: transparent;
    --button-hover-bg: transparent;
}

.button[data-button-variant="round-icon"] {
    --button-padding: 0.25em;
    --button-bg: transparent;
    --button-color: currentColor;
    --button-radius: 50%;
    --button-border-color: currentColor;
}

.button[data-button-variant="round-icon"] svg {
    stroke: currentColor;
    stroke-width: 3px;
}

.button[data-button-variant="no-styles"] {
    --button-border-width: 0;
    --button-padding: 0;
    --button-bg: transparent;
    --button-color: currentColor;
    --button-hover-bg: var(--button-bg);
    --button-hover-color: var(--color-primary);
    --border-radius: 0;
}

.button[data-button-variant="small"] {
    --button-font-size: var(--step--2);
    --button-padding: 0.2em 0.3em;
}

/* Use aria property for current page navigation label */
.like-a-link {
  text-decoration: underline;
  text-decoration-thickness: 0.5ex;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.8ex;
}

.like-a-link {
  color: var(--color-primary);
}


/* DIALOG STYLES */

dialog[open] {
  translate: 0 0;
  transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete;
  
  @starting-style {
    translate: 0 -100vh;
  }
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog[class] {
  inline-size: min(95vw, var(--max-width));
  border-radius: 0.5em;
  padding: 0;
  inset: 0;
  overflow: hidden;
}

dialog > form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    max-block-size: 80vh;
    max-block-size: 80dvb;
    font-size: 75%;
}

dialog button.close {
    border: none;
    background-color: white;
    padding: 0.5em;
    align-self: start;
}

dialog > form > header, dialog > form > footer {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    background-color: #e9ecef;
}

dialog > form > article {
    overflow-y: auto; 
    max-block-size: 100%; /* safari */
    overscroll-behavior-y: contain;
    padding: 2rem;
}

dialog hr {
  margin: initial;
  height: 0.2rem;
  background-color: var(--color-text);
}

dialog hr+span {
  font-weight:800;
}


/* STYLES FOR OVERLAY COMPONENT */

.overlay {
  display: grid;
  grid-template-area: "overlay";
}
.overlay img {
  --aspect-ratio:1;
  grid-area:overlay;
  place-self:center;
  object-fit:cover;
  inline-size:100%;
  block-size:100%;
  aspect-ratio: var(--aspect-ratio);
}
.overlay div {
  grid-area: overlay;
  place-self: start center;
  font-size:var(--step--2);
}
.overlay button.copied {
  background-color: white;
  color: green;
}


/* STYLES FOR IMAGE SELECTION COMPONENT */

.data-table {
  font-size: var(--step--2);
  tr + tr {
    border-block-start: 2px solid rebeccapurple;
  }
  img, svg {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }
  figcaption {
    font-size: 70%;
  }
}


.no-border {
  --border: none;
}


/* STYLES FOR PREFORMATTED CODE BLOCKS */

pre {
  font-size: var(--step--1);
  overflow-x: auto;
}

/* DEFAULT POINTER CURSOR FOR SUMMARY ELEMENTS */
summary {
    cursor: pointer;
}

/* MENULIST HAMBURGER BUTTON SWITCHES TO CROSS WHEN ACTIVATED */

[id=menulist-btn] {
    --icon-size: 32;
    --icon-bar-size: 6;
    --icon-translation-size: calc((var(--icon-size) - var(--icon-bar-size)) / 2);
    background-color: transparent;
    border: none;
    display:flex;
    align-items:center;
    gap:0.5rem;
    anchor-name: --menulist-anchor;
}

[id=menulist-btn]:has(+ *:popover-open) rect {
    transition: all 0.5s ease-in-out;
}

[id=menulist-btn]:has(+ *:popover-open) .top,
[id=menulist-btn]:has(+ *:popover-open) .bottom {
    transform-origin: center;
}

[id=menulist-btn]:has(+ *:popover-open) .top {
    transform: rotate(45deg) translate(0, calc(var(--icon-translation-size) * 1px));
}
[id=menulist-btn]:has(+ *:popover-open) .middle {
    opacity: 0;
}
[id=menulist-btn]:has(+ *:popover-open) .bottom {
    transform: rotate(-45deg) translate(0, calc(var(--icon-translation-size) * -1px));
}

/* MENULIST */
[id=menulist] {
  /* Anchor Positioning */
  /* position: absolute; */
  /* position-area: end span-end; */
  /* position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline; */
  inset: auto;
  top: anchor(--menulist-anchor bottom);
  right: anchor(--menulist-anchor right);

  /* End of fade-out */
  opacity: 0;
  transform: scale(1);
  transition: opacity, transform, overlay, display;
  transition-behavior: allow-discrete;
  transition-duration: 100ms;
  transition-timing-function: linear;
 
  /* Other properties */
  flex-direction: column;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 8px 8px 15px -5px rgb(0 0 0 / 0.75);
  
  & >* {
    appearance: none;
    background: none;
    border-block-end: 1px solid grey;
    border-radius: 0;
    color: black;
    inline-size: 100%;
    font-size: var(--step--1);
    padding: 2vmin 1rem;
    text-align: left;
    display: flex;
    gap: 0.5em;
    align-items: center;
    text-decoration: none;

    span {
        inline-size: 2rem;
    }

    &:focus {
      outline: none;
    }
 
    &:is(:hover, :focus-visible) {
      background-color: pink;
    }
    
 
    &:focus-visible {
      outline: 2px solid var(--primary-color);
      outline-offset: -4px;
    }
    

  }
  
  a {
    display: block;
    border-block-end: solid 1px black;
  }
  
      
    [aria-current="page"]::after {
      content:" \2713 ";
        color: green;
   }
  
}


[id=menulist]:popover-open {
  /* End of fade-in and start of fade-out */
  transition-duration: 120ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
  transform: scale(1);
}

@starting-style {
  /* Start of fade-in */
  [id=menulist]:popover-open {
    opacity: 0;
    transform: scale(0.8);
  }
}



/* PLACE POPOVER TOP RIGHT OF VIEWPORT IF BROWSER NOT SUPPORTING ANCHOR API */
@supports not (position-anchor: --anchor) {
  [popover]:popover-open {
    inset:2.25rem 0.5rem auto auto;
  }
}

/* TABLE STYLES, E.G. WEBSITE ANALYTICS */

sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.7em;
    top: -0.5em;
}

table {
  border-collapse: collapse;
  font-size: var(--step--1);
}
caption {
  padding: 0.5em;
}
thead {
  background-color: rebeccapurple;;
  color: white;
  font-weight: 600;
}
th, td {
  border: 1px solid var(--color-text);
  padding: var(--space-3xs);
}
td > button {
    margin-inline-start: 0.25em;
}
td.centered {
  text-align: center;
  font-weight: 900;
}
.cwv {
    --button-padding: 0.15em 0.5em;
    border: none;
}
.cwv:hover {
    font-weight: 850;
}
.good {
  background-color: chartreuse;
  color: black;
}
.improve, .needs-improvement {
  background-color: orange;
  color: black;
}
.poor {
  background: red;
  color: white;
}

/* DEPLOYMENT STATUS */
ol.deploy {
    color: white;
    background-color: #342a21;
    font-family: monospace;
    font-size: var(--step--1);
    padding: 1em;
    margin-inline-end: 1em;
}

ol.deploy span + span {
    margin-inline-start: 1em;
}

.deploy-website {
    background-color: rebeccapurple !important;
    color: white !important;
    cursor: pointer !important;
    margin-inline-end: 1em !important;
    padding: 0.2em 0.3em !important;
}

/*
** MEDIA THUMBNAILS PAGE
*/

.gallery-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: grid;
  gap: var(--space-2xs);
  grid-template-columns: repeat(auto-fill, minmax(min(var(--space-3xl), 100%), 1fr));
}
.gallery-list li {
    border: 1px solid #ddd;
    padding: var(--space-3xs);
    display: grid;
    grid-template-areas: "overlay";
}
.gallery-list li:hover {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.gallery-list img, .gallery-list video, .gallery-list audio {
    inline-size: 100%;
}

.gallery-list  .landscape {
    grid-column: span 2;
}

/*
** GALLERY FULLSCREEN STYLES
*/
.gallery-overlay {
    display: none;
    grid-template-areas: "overlay";
}
.gallery-overlay  img {
    grid-area: overlay;
    place-self: center;
    inline-size: 100vw;
    block-size: 100vh;
    object-fit: contain;
}
.gallery-overlay :not(img) {
    color: white;
    font-size: var(--step-3);
    grid-area: overlay;
}
.gallery-overlay  span {
    place-self: start start;
    font-size: var(--step-0);
}
.gallery-overlay  button {
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: var(--space-s);
    cursor: pointer;
}
.gallery-overlay  .close-fullscreen {
    place-self: start end;
}
.gallery-overlay  .prev {
    place-self: center start;
}
.gallery-overlay  .next {
    place-self: center end;
}


/* SPINNER ELEMENT WHILE WAITING FOR WEBSITE TO BE DEPLOYED */

.loader {
  inline-size: 1.5em;
  opacity: 0;
  border: none;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003,#000);
          mask: conic-gradient(from 22deg, #0003,#000);
  animation: load 1s steps(8) infinite;
}

.loader,
.loader:before {
  --_g: linear-gradient(#17177c 0 0) 50%;
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}

.loader:before {
  content: "";
  transform: rotate(45deg);
}

@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}

/* CKEDITOR STYLES */
#editor-status {
    color: green;
}

.ck-word-count {
    display: flex;
    gap: 1em;
    font-size: var(--step--2);
}

/* SELECT ELEMENT */
select,
::picker(select) {
    appearance: base-select;
}
/* style the picker dropdown */
::picker(select) {
  border-radius: 1rem;
}

/* SWITCH BUTTON */
input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin: auto;
  color: inherit;
}

input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
}

input:where([type="checkbox"][role="switch"]):checked::before {
  left: 1em;
}

/* EDITOR STYLES */

/* EDIT FOOTER STYLES */
edit-footer, edit-footer>div {
    margin: 3vh;
}

.icon-with-text:has(span:empty) {
    display: none;
}


/* ALERT STYLES - CHANGE SAVE BUTTON TEXT AND BACKGROUND COLOR WHEN CLICKED */

ul[class] {
  list-style:none;
}

li:has([role='alert']) {
  position: relative;
}

[role='alert'] {
  position: absolute;
  inset:0;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

[role='alert']:empty {
  display: none;
}

