.cta {
    display: grid;
    place-items: center;
    fieldset {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        inline-size:fit-content;
    }
    input,
    button,
    textarea {
        font-family: var(--font-family-text);
        font-size: var(--step--1);
    }
    input {
        line-height: 1lh;
        padding: 0.15em 0.25em;
    }
    button {
        background-color: crimson;
        color: white;
        padding: 0.75em 1.5em;
        border-radius: 12px;
    }
}