pre {
  font-family: var(--code-font-family);
  font-weight: var(--code-font-wght);
  font-stretch: var(--code-font-wdth);
  font-variation-settings: var(--code-font-variation-settings);
  font-size:var(--step--2);
  font-size-adjust: 0.507;

 background-color: var(--color-bg-code);
 color: var(--color-text-code);

  border: 1px solid #c4c4c4;
  border-radius: 2px;
  direction: ltr;
  font-style: normal;
  min-width: 200px;
  padding: 1em;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  overflow-x: auto;
}
pre code {
  background: unset;
  border-radius: 0;
  padding: 0;
}