@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

::view-transition-group(root) {
    animation-duration: 1s;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, address, ul, ol {
    margin: 0;
    padding: 0;
    font-style: normal;
}
ul:not([class]),
ol:not([class]) {
    padding-inline-start: var(--space-s);
}
.custom-block-indent-a {
	margin-left: calc(1 * var(--space-m));
}

.custom-block-indent-b {
	margin-left: calc(2 * var(--space-m));
}

.custom-block-indent-c {
	margin-left: calc(3 * var(--space-m));
}

body {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-wght);
    font-stretch: var(--text-font-wdth);
    font-variation-settings: var(--text-font-variation-settings);
    font-size: var(--step-0);
    text-box: cap alphabetic;
    line-height: var(--space-m);
    background-color: var(--color-bg);
    color: var(--color-text);
    /* font-synthesis: none; */
    animation: 3s infinite flip-synthesis;
    strong {
        font-weight: var(--text-font-wght-bold, 700);
    }
    i {
        font-style: var(--text-font-slnt);
    }
}

/* LINK STYLES */
a {
  color: var(--color-link);
  &:hover {
    color: var(--color-link-hover);
  }
}

@keyframes flip-synthesis {
    0% { font-synthesis: none; }
    100% { font-synthesis: initial; }
}

/* SKIP TO MAIN CONTENT ON ALL PAGES */

.skip-link:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
main:focus {
  outline: none;
}

/*
** IMAGE STYLES
*/
img {
    corner-shape: var(--img-corner-shape);
    border-radius: var(--img-border-radius);
}

/*
** SIGNAL MISSING ALT TEXT
*/
img:not([alt]) {
	border: dashed 10px red;
    border-radius: 0;
}

main, section {
  padding-inline: 1rem;
  /* container-type: inline-size; */
  max-width: var(--max-width);
  margin-inline: auto;
}

main + section {
    margin-block-start: 1em;
}

/* NOT AT ALL SURE ABOUT THIS */

body>header u {
    text-decoration-thickness: 0.5ex;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.8ex;
}


/* FOOTER STYLES */

body>footer {
  margin-block-start: 1rem;
  font-size: var(--step--1);
  padding: 1em;
}

body>footer>a {
  color: inherit;
  text-decoration: none;
}

/* DROP DOWN STYLES - RESPONSIVE NAVIGATION AND EDITOR MENU */
.controls {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-bg);
  block-size: 0;
}

.popover-btn {
  --icon-size: 32;
  --icon-bar-size: 6;
  --icon-translation-size: calc((var(--icon-size) - var(--icon-bar-size)) / 2);
  color: var(--color-text);
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--step--1);
  background-color: var(--color-bg);
  z-index: 1;
  visibility: hidden;
}

#navlist-btn {
    anchor-name: --navlist-anchor;
}


.controls [popover] {
  
  opacity: 0;
  transform: scale(1);
  transition: opacity, transform, overlay, display;
  transition-behavior: allow-discrete;
  transition-duration: 100ms;
  transition-timing-function: linear;

  /* Other properties */
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 2px solid var(--color-theme-accent);
  
  & > * {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-theme-accent);
    inline-size: 100%;
    font-size: var(--step--1);
    padding: 1rem;
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
  }
}

#navlist {
  inset: auto;
  top: anchor(--navlist-anchor bottom);
  left: anchor(--navlist-anchor left);
  ul {
    flex-direction: column;
    align-items: flex-start;
  }
}


[id="menulist"]:popover-open, [id="navlist"]:popover-open {
  /* End of fade-in and start of fade-out */
  transition-duration: 120ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
  transform: scale(1);
}

@starting-style {
  /* Start of fade-in */
  [id="navlist"]:popover-open, [id="menulist"]:popover-open {
    opacity: 0;
    transform: scale(0.8);
  }
}

@supports not (position-anchor: --anchor) {
  #menulist:popover-open {
    inset:3rem 0.5rem auto auto;
  }
  #navlist:popover-open {
    inset:3rem auto auto auto;
  }
}

/* MAIN HEADER STYLES INCLUDING LOGO AND SITE NAVIGATION */
.topnav {
  --flex-wrap: nowrap;
  --flex-gap: var(--space-xs);
  padding-block-start: 0.5rem;
  padding-inline: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-bg);
}

.logo {
  align-self: flex-start;
}

.logo > * {
    border-radius: var(--logo-img-border-radius, 0);
    corner-shape: var(--logo-img-corner-shape);
    inline-size: fit-content;
    block-size: var(--logo-img-block-size);
    object-fit: contain;
    object-position: left bottom;
}

/* logo without img element is text */
.logo:not(:has(img)) {
  font-family: var(--logo-font-family);
  font-size: var(--logo-font-size);
  font-weight: var(--logo-font-wght);
  font-stretch: var(--logo-font-wdth);
  font-variation-settings: var(--logo-font-variation-settings);
  /* text-box: cap alphabetic; */
    strong {
        font-weight: var(--logo-font-wght-bold, 700);
    }
    i {
        font-style: var(--logo-font-slnt);
    }
}

nav {
  font-family: var(--font-family-ui);
}

nav a {
  color: inherit;
  --text-color: var(--nav-dark-color);
  border-block-end: 0.2ex solid var(--border-color, transparent);
  display: inline-block;
  text-decoration: none;
  font-size: var(--step--2);
}

nav a:where(:hover, :focus) {
  --border-color: var(--color-text);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* max-inline-size: var(--max-width); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--space-m);
}

[aria-current="page"] {
  --border-color: var(--color-text);
}

@media (width<=600px) {
  nav ul {
    display:none;
  }
}



/* 
** COLOUR SCHEME SWITCHER
*/
.theme-machine {
  --_padding: var(--space-3xs);
  --color-theme: #f1f5f9;
  --color-theme-muted: #e6edf2;
  --color-theme-accent: #cbd5e1;
  --color-theme-offset: #475569;
  display: flex;
}
@media (forced-colors: active) {
  .theme-machine {
    forced-color-adjust: none;
  }
}
.theme-machine .control-appearance {
  all: unset;
  position: relative;
  display: flex;
  gap: var(--_padding);
  background: var(--color-theme);
  padding: var(--_padding);
  border-radius: 360px;
  corner-shape: superellipse(1.1);
  isolation: isolate;
  transform: translateZ(0);
  inline-size: fit-content;
  z-index: 2;
}
.theme-machine .control-appearance label {
  display: grid;
  place-items: center;
  place-content: center;
  border-radius: 50%;
  padding: var(--_padding);
  color: var(--color-theme-offset);
  cursor: pointer;
  width: var(--space-m);
  height: var(--space-m);
}
.theme-machine .control-appearance input:checked + label {
  color: currentcolor;
}
.theme-machine .control-appearance input:checked:focus-visible + label {
  outline: var(--focus-outline);
  outline-offset: 2px;
}
.theme-machine .control-appearance .highlighter {
  content: "";
  position: absolute;
  top: var(--_padding);
  left: var(--_padding);
  aspect-ratio: 1;
  height: calc(100% - var(--_padding) * 2);
  background: var(--color-theme-accent);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: translate 250ms cubic-bezier(0.65, 0, 0.35, 1);
}
.theme-machine .control-appearance input:focus-visible ~ .highlighter {
  transition: unset;
}
.theme-machine .control-appearance input:nth-of-type(2):checked ~ .highlighter {
  translate: calc(100% + var(--_padding));
}
.theme-machine .control-appearance input:nth-of-type(3):checked ~ .highlighter {
  translate: calc(200% + var(--_padding) * 2);
}

/* 
** FONT SIZES
*/
.text-tiny:not(.ck-button) {
  font-size: var(--step--2);
}
.text-small:not(.ck-button) {
  font-size: var(--step--1);
}
.text-big:not(.ck-button) {
  font-size: var(--step-3);
}
.text-huge:not(.ck-button) {
  font-size: var(--step-6);
}

/* ALIGNMENT */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}



h1 {
  font-size: var(--step-4);
  overflow-wrap: break-word;
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}
p {
  text-wrap: pretty;
}
small {
  font-size:var(--step--2);
}

:where(h1,h2,h3,h4) {
    line-height: 1.1;
    text-wrap: pretty;
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-wght);
    font-stretch: var(--headings-font-wdth);
    font-variation-settings: var(--headings-font-variation-settings);
    /* text-box: cap alphabetic; */
    strong {
        font-weight: var(--headings-font-wght-bold, 700);
    }
    i {
        font-style: var(--headings-font-slnt);
    }
}

/* MORE UtILITES - NEED TO STRUCTURE THIS */
.round-border {
  border-radius: 50%;
}
.icon-with-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.icon-with-text > svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* VISUALLY-HIDDEN CAN'T BE SEEN EXCEPT TO ASSISTIVE TECHNOLOGY */

.visually-hidden {
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  white-space: nowrap;
}

/* FLEX ITEMS */
.flex-items {
  display: flex;
  flex-direction: var(--flex-direction, row);
  flex-wrap: var(--flex-wrap, wrap);
  gap: var(--flex-gap, var(--gutter, var(--space-m)));
  justify-content: var(--flex-horizontal-alignment, flex-start);
  align-items: var(--flex-vertical-alignment, center);
}

.center {
  --flex-horizontal-alignment: center;
}
.space-apart {
  --flex-horizontal-alignment: space-apart;
}
.space-between {
  --flex-horizontal-alignment: space-between;
}
.space-around {
  --flex-horizontal-alignment: space-around;
}
.justify-end {
  --flex-horizontal-alignment: flex-end;
}
.no-gap {
  --flex-gap: 0;
}
.no-wrap {
    flex-wrap: nowrap;
}

[data-variant-flex="column"] {
  --flex-direction: column;
  --flex-vertical-alignment: flex-start;
}

/* Use aria property for current page navigation label */
.like-a-link {
  text-decoration: underline;
  text-decoration-thickness: 0.5ex;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.8ex;
}

.like-a-link {
  color: var(--color-primary);
}

/* EDITOR STYLES */

/* ALERT STYLES - CHANGE SAVE BUTTON TEXT AND BACKGROUND COLOR WHEN CLICKED */

ul[class] {
  list-style:none;
}

li:has([role='alert']) {
  position: relative;
}

[role='alert'] {
  position: absolute;
  inset:0;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

[role='alert']:empty {
  display: none;
}