blockquote {
  border-left: var(--space-3xs) solid #ccc;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}
[dir="rtl"] blockquote {
  border-left: 0;
  border-right: var(--space-3xs) solid #ccc;
}